<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jquery.js"></script>
    <script src="https://git.heroku.com/information-member.git/socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" href="layout.css">
  
</head>
<body>
    <div id="wrapper">
        <div id="information">
            <input type="text" id="txtHoten" placeholder="Nhập họ tên ....">
            <input type="text" id="txtEmail" placeholder="Nhập Email ....">
            <input type="text" id="txtSdt" placeholder="Nhập số điện thoại ....">
            <input type="button" id="btnRegister" value="Send">
        </div>
        <div id="listUsers">
            <h3>Danh sach hoc vien</h3>
            <div id="ds">
              
            </div>
        </div>
    </div>
</body>
</html>